:root {
  --background-color: #f5f5f5;
  --text-color: #111;
  --accent-color: #e27d3e;
  --card-bg: #ffffff;
  --border-color: #191919;
  --border-color-secondary: #5e656d;
  --button-bg: #e27d3e;
  --button-bg-grey: #626760;
  --button-text: #ffffff;
  --input-bg: #eaeaea;
}

html, body {
  touch-action: manipulation;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  touch-action: manipulation;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  border: 2px solid var(--border-color);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: stretch;
  border-bottom: 2px solid var(--border-color);
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: top;
  flex-direction: column;
  padding: 4px;
  gap: 8px;
  border-left: 2px solid var(--border-color);
}

.player-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  overflow: auto;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  border-left: 2px solid var(--border-color);
  width: 100%;
}

.player span {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  background-color: #CCD4C3;
}

.history {
  font-size: 28px;
  line-height: 50px;
  color: gray;
  padding: 20px;
  word-spacing: 1000px;
}

.score {
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  background-color: #697a5f;
  color: white;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}

.submit-button {
  font-size: 32px;
  padding: 20px 12px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.2s;
}

.submit-button:hover {
  background-color: #d76b2c;
}

.points-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-top: 2px solid var(--border-color);
}

.side-button {
  font-size: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--button-bg-grey);
  cursor: pointer;
  transition: all 0.2s;
  padding: 8px;
}

.points-selection button {
  padding: 8px;
  display: flex;  
  align-items: center;
  border-radius: 1000px;
  border-width: 0px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.2s;
}


.points-selection button:hover {
  background-color: #d76b2c;
}

.points-selection input {
  font-size: 52px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 2px;
  font-weight: bold;
}

.inputandlabel {
  width: 100%;
}

p#scoreLabel {
  font-size: 18px;
  font-weight: bold;
  color: grey;
  margin: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
